.navbarWrapper {
  top: 45px;
  position: sticky;
  z-index: 20;
  opacity: 0.95;
  background-color: transparent;
}

.navbarContainer {
  background-color: white;
  border: 1px solid black;
  width: calc(100vw - 80px);
  max-width: 980px;
  padding: 0;
  position: absolute;
}

.shortNav {
  width: 50px;
}

.navbarInnerWrapper {
  height: 100%;
  width: 100%;
}

.dropdownContainer {
  position: absolute;
  top: 64px;
  z-index: 10;
  visibility: visible;
  transition: 0.2s;
  border-radius: 5px;
  width: calc(100svw - 120px);
}

.palmTreeLogo {
  scale: 1;
  transition: 0.2s;
  margin-left: 20px;
}

.palmTreeLogo:hover {
  scale: 1.2;
  transition: 0.2s;
}

.disabled {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.link {
  font-family: 'Montserrat', 'Quicksand', sans-serif;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.link:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

@media screen and (max-width: 899px) {
  .linksContainer {
    display: none;
  }

  .navbarWrapper {
    margin: 0 20px;
    width: calc(100vw - 40px);
  }

  .linksIconContainer {
    margin-right: 20px;
  }

  .navbarContainer {
    margin: 0 30px;
    min-width: calc(100vw - 60px);
  }

  .navbarWrapper {
    top: 30px;
  }

  .navbarInnerWrapper {
    width: 100%;
  }

  .dropdownContainer {
    width: calc(100svw - 80px);
    padding: 10px 26px 0 26px;
  }
}

@media screen and (max-width: 499px) {
  .navbarWrapper {
    top: 16px;
  }
}

@media screen and (min-width: 900px) {
  .linksIconContainer {
    display: none;
  }

  .dropdownContainer {
    display: none;
  }
}
