.dropdownContainer {
  position: absolute;
  top: 56px;
  z-index: 10;
  background-color: white;
  visibility: visible;
  transition: 0.2s;
}

.disabled {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

@media screen and (max-width: 899px) {
  .linksContainer {
    display: none;
  }
}

@media screen and (min-width: 899px) {
  .dropdownContainer {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .linksIconContainer {
    display: none;
  }
}
