.container {
  max-width: 100svw;
  min-height: calc(100svh - 56px - 237px);
  display: flex;
  justify-content: center;
}

.containerWrapper {
  max-width: 980px;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .containerWrapper {
    padding: 0 40px;
  }
}
